name: npins update
on:
  workflow_dispatch:
  schedule:
    - cron: '0 */6 * * *' # every 6 hours
permissions:
  contents: 'write'
  pull-requests: 'write'
jobs:
  npins-update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}
      - name: Get Nixpkgs revision
        run: |
          url=$(jq -r .pins.nixpkgs.url npins/sources.json)
          echo "url=$url" >> "$GITHUB_ENV"
      - uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=${{ env.url }}
          extra_nix_config: |
            fallback = true
            trusted-public-keys = didactiklabs-nixcache:PxLKN0+ZkP07M8g8/B6xbP6A4MYpqQg6LH7V3muiy/0= cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY=
            substituters = https://s3.didactiklabs.io/nix-cache https://cache.nixos.org/
      - name: Update npins
        run: nix run nixpkgs#npins -- update
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ steps.app-token.outputs.token }}
          commit-message: "chore(deps): update npins sources"
          title: "chore(deps): update npins sources"
          body: "This PR updates the pinned sources using `npins update`."
          branch: npins-update
          delete-branch: true
      - name: Enable Pull Request Automerge
        if: steps.cpr.outputs.pull-request-operation == 'created'
        uses: peter-evans/enable-pull-request-automerge@v3
        with:
          token: ${{ steps.app-token.outputs.token }}
          pull-request-number: ${{ steps.cpr.outputs.pull-request-number }}
          merge-method: squash
